@import '../../variables';
.sidebar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 3px 0px var(--card-border);


  .nav-link {
    display: flex;
    justify-content: center;

    svg {
      height: 2rem;
      width: 2rem;
      color: var(--text-primary);
    }

    margin: 30px;
  }
  .dark-mode-switch{
    position: absolute;
    right: 20px;
  }

}