@import '../../variables';
.intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  // overflow-y: scroll;

  .textbox {
    // display: block;
    width: 50%;
    padding: 20px 30px;

    .name {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1.5rem;
      font-weight: normal;
      color: var(--text-primary);
      height: 3rem;

      .profession {
        color: var(--highlight);
      }

      .cursor{
        display: inline-block;
        position: relative;
        bottom: -0.2rem;
        width: 0.8rem;
        height: 1.8rem;
        background-color: var(--text-secondary);
        margin-left: 5px;
        animation: blink 1s step-end infinite;
      }
    }
  }

  .icon{
    display: flex;
    justify-content: center;
  }


    @keyframes float {
      0% {
        transform: translateY(0px);
      }
  
      50% {
        transform: translateY(8px);
      }
  
      // 66%{
      //   transform: translateY(6px);
      // }
      100% {
        transform: translateY(0px);
      }
    }

  svg {
    display: flex;
    width: 50%;
    height: 50%;
    max-width: 650px;
    min-width: 300px;
    min-height: 300px;
    animation: float 2.5s ease-in-out infinite;
  }
  
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  

}

@media (0px <= width <= 840px) {
  .intro{
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    .textbox{
      width: unset;
      max-width: unset;
    }
  }
  
}