@import '../../variables';

.vertical-timeline.vertical-timeline--animate {
    &::before {
        background-color: var(--timeline-color);
    }
}


[class^="vertical-timeline-element-main--"] {

    .vertical-timeline-element-icon {
        // width: 100px;
        // height: 100px;
    }

    


    .vertical-timeline-element-icon.shadow-size-small {
        background-color: var(--timeline-color);
        border: 2px solid var(--timeline-color);
        box-shadow: unset;

        .vertical-timeline-element-icon-content {
            color: var(--icon-color);
        }

    }

    .vertical-timeline-element-content {
        background-color: var(--card-bg);
        color: var(--card-text);
        border: var(--card-border) 1px solid;
        box-shadow: unset;
        border-radius: 10px;

        .vertical-timeline-element-content-arrow {
            border-right: var(--card-border) 10px solid;
        }

        .vertical-timeline-element-title {
            color: var(--card-title);
        }

        .vertical-timeline-element-subtitle {
            color: var(--text-secondary);
        }

        .vertical-timeline-element-date {
            font-size: 1.1rem;
            font-style: italic;
            color: var(--timeline-color);
        }

        ul {
            margin-top: 40px;
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .text-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            [class^="icon-info"] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                background-color: transparent;

                svg {
                    width: 80px;
                    height: auto;
                }

                &.icon-info--enphase, 
                &.icon-info--tata{
                    height: 30px;
                }

                &.icon-info--iitbhu,
                &.icon-info--iitb {
                    svg * {
                        fill: var(--text-primary)
                    }
                }

            }
        }

    }
}