.App {
}

@font-face {
  font-family: 'SF';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'openSans';
  src: url('./assets/fonts/GoogleSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'openSans bold';
  src: url('./assets/fonts/GoogleSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'openSans medium';
  src: url('./assets/fonts/GoogleSans-Medium.ttf') format('truetype');
}