@import 'variables';

body {
  margin: 0;
  font-family: 'Gel', 'Spline', 'SF', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-primary);
  scroll-behavior: smooth;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.15);
}

body.dark-mode {
  background-color: var(--bg-color);
  /* Dark background */
  color: var(--text-primary);
  /* Light text color */
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.2)
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (0px <=width <=840px) {
  html {
    font-size: 12px;
  }
}